#root, .App, .App-header {
  width: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App > .App-header {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
